BOT_TOKEN=
ADMINS=
USE_REDIS=false

POSTGRES_USER=backend
POSTGRES_PASSWORD=
POSTGRES_DB=backend

ZITADEL_MASTER_KEY=
ZITADEL_DB_PASSWORD=
ZITADEL_ADMIN_PASSWORD=
ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=
ZITADEL_AUDIENCE=

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
